body {
	font-family:Arial,微软雅黑,宋体;
	font-size:12px;
}

form, dl,dt,dd {
	margin:0px;
	padding:0px;
}

/* 登录 ********************************************************/
#login {
	width:490px;
	margin:0px auto;
}
#login .logo {
  background: url("../images/ico.gif") no-repeat scroll -165px -40px transparent;
  height: 30px;
  padding-top: 26px;
  width: 180px;
}
#login h3 {
	font-size:18px;
	margin:2px 10px 35px;
}
#login .block {
	background:#F5F5F5;
	padding:30px 10px 10px 10px;
	margin-bottom:30px;
	margin-top:20px;
	border:1px solid #EFEFEF;
    position: relative;
}
#login input , #login select {
	padding: 3px 10px;
	font-family:Arial,微软雅黑,宋体;
}
#login .title {
	background: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: #339900;
    font-size: 14px;
    font-weight: bold;
    top: -14px;
    padding: 4px 10px;
    width: 30%;
	z-index:3;
	position: absolute;
}
/* FORM */

#login .login_form dl {
	padding:5px 3px;
	display:block;
	width:450px;
}
#login .login_form dt {
	width:60px;
	text-align:left;
	font-weight:bold;
	font-size:14px;
	color:#385361;
	float:left;
}
#login .login_form dd {
	width:300px;
	float:left;
	text-align:left;
}

#input_text {
	width:280px;
	font-size:12px;
}



.clear {
	clear:both;
	height:1px;
	font-size:0px;
}